body {
  margin: 0;
  background: #f6f7fb;
  font-family: Arial, sans-serif;
  color: #222;
}

.top-header {
  background: #0d47a1;
  padding: 25px 20px;
  color: #fff;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}


.navbar {
  background: #fff;
  padding: 12px;
  border-bottom: 2px solid #ddd;
  text-align: center;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #0d47a1;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}


.section-container {
  background: #fff;
  padding: 30px;
  margin: 25px auto;
  width: 90%;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.section-container h2 {
  border-bottom: 3px solid #0d47a1;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

/* PROJECTS */
.project-list li {
  margin-bottom: 12px;
}

.project-list a {
  margin-left: 10px;
  color: #0d47a1;
  font-weight: bold;
}

.project-list a:hover {
  text-decoration: underline;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background: #0d47a1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background: #08306b;
}


.footer {
  text-align: center;
  padding: 20px;
  background: #0d47a1;
  color: white;
  margin-top: 40px;
}
